<div class="main-outer">
  <div class="data-set">
    <div class="container">
      <h1>Customer Form</h1>
      <hr>
      <form [formGroup]="customerForm">
        <div class="row">
          <div class="col-12 col-md-4 col-lg-3">

            <mat-form-field class="full-width"
                            appearance="outline">
              <mat-label>Customer Id</mat-label>
              <input type="text" matInput
                     formControlName="id"
                     placeholder="Ex. C-001">
            </mat-form-field>

          </div>
          <div class="col-12 col-md-4 col-lg-3">
            <mat-form-field class="full-width"
                            appearance="outline">
              <mat-label>Customer Name</mat-label>
              <input type="text" matInput
                     formControlName="name"
                     placeholder="Ex. Kamal">
            </mat-form-field>
          </div>
          <div class="col-12 col-md-4 col-lg-3">
            <mat-form-field class="full-width"
                            appearance="outline">
              <mat-label>Address</mat-label>
              <input type="text" matInput
                     formControlName="address"
                     placeholder="Ex. Colombo">
            </mat-form-field>
          </div>
          <div class="col-12 col-md-4 col-lg-3">
            <mat-form-field class="full-width"
                            appearance="outline">
              <mat-label>Salary</mat-label>
              <input type="number" matInput
                     formControlName="salary"
                     placeholder="Ex. 25000">
            </mat-form-field>
          </div>
          <div class="col-12">
            <p style="text-align: right">
              <button
                mat-raised-button
                color="primary"
                [disabled]="customerForm.invalid"
                (click)="saveCustomer()"
              >Save Customer
              </button>
            </p>
          </div>
        </div>
      </form>
      <hr>
    </div>


  </div>
  <div class="table-outer">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th>Customer Id</th>
          <th>Customer Name</th>
          <th>Address</th>
          <th>Salary</th>
          <th>Option</th>
        </tr>
      </thead>
      <tbody>
      <tr *ngFor="let tempData of customerList; index as num">
        <td>{{num+1}}</td>
        <td>{{tempData.id}}</td>
        <td>{{tempData.name}}</td>
        <td>{{tempData.address}}</td>
        <td>{{tempData.salary}}</td>
        <td>
          <button class="btn btn-danger btn sm" (click)="deleteCustomer(tempData.id)">Delete</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
